# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
*.egg

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Database / Local data
*.db
*.sqlite3
data/
pgdata/
redisdata/

# Docker
*.pid
*.sock
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
